---
---
$white: #FFFFFF
$black: #000000
$yellow: #FFB612
$green: #007A4D
$blue: #002395
$red: #DE3831


$small-text: 16px
$medium-text: 20px
$large-text: 24px
$extra-large-text: 28px

$header-height: 80px

body
  margin: 0
  font-family: 'Lato'

// general
.section
  padding: 2em 10em
  text-align: center

.section__title
  font-size: $extra-large-text
  margin-bottom: 32px

input, textarea, button
  padding: 8px
  border-radius: 4px
  border: none

button
  min-width: 150px

// header
.header
  height: $header-height
  width: 100%
  background: $black
  opacity: 0.9
  position: fixed
  top: 0
  list-style-type: none
  margin: 0
  padding: 0
  color: white
  z-index: 2

.header__logo
  width: 150px

.header__item
  display: inline-block
  vertical-align: top

.header__title
  --paddingA: calc( #{$header-height} - #{$extra-large-text})
  padding: calc(var(--paddingA) / 2)
  font-size: $extra-large-text

.header__navigation
  float: right

.header__item-navigation
  $nav-item-padding: 10px
  padding: $nav-item-padding
  --marginA: calc( #{$header-height} - #{$medium-text} - #{$nav-item-padding})
  margin: calc(var(--marginA) / 2)
  font-size: $medium-text
  border-radius: 4px

.header__navigation >:nth-child(1)
  background: $red
.section--mission .section__title
  color: $red

.header__navigation >:nth-child(2)
  background: $yellow
.section--journey .section__title
  color: $yellow

.header__navigation >:nth-child(3)
  background: $green
.section--team .section__title
  color: $green

.header__navigation >:nth-child(4)
  background: $blue
.section--partners .section__title
  color: $blue

.header__navigation >:nth-child(5)
  background: grey
.section--contact .section__title
  color: grey

// banner
.banner
  background: url('/images/banner.jpg')
  background-size: cover
  background-position: bottom right
  background-repeat: no-repeat
  height: 100vh

.banner__text
  position: absolute
  bottom: 70vh
  right: 70vw
  background: rgba(0, 0, 0, 0.75)
  padding: 4px 8px
  color: white
  margin: 0
  text-align: center

.banner-text__description
  bottom: 20vh
  left: 25vw
  width: 50vw
  font-size: $medium-text
  line-height: 40px

.banner-text__sub-description
  bottom: 10vh
  left: 26vw
  width: 48vw
  font-size: $medium-text
  line-height: 40px

// mission

.mission


// journey
.journey
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/SA-flag.svg')
  background-size: cover

.timeline-info
  color: yellow

.timeline-title
  color: pink

.timeline-description
  color: white

// team
.team

.container--team-members
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
  grid-gap: 1em

.item--team-member
  padding: 1em
  border: 1px solid black
  background: whitesmoke
  color: white

.team-member__logo
  border-radius: 50%
  max-width: 100%

.team-member__name
  padding: 10px

.container--team-members >:nth-child(1)
  background: $black

.container--team-members >:nth-child(2)
  background: $yellow

.container--team-members >:nth-child(3)
  background: $green

.container--team-members >:nth-child(4)
  background: $blue

.container--team-members >:nth-child(5)
  background: $red

// partners
.partners
  background: lighten(black, 98%)

.container--partners
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))

.item--partner
  padding: 4em

.partner__logo
  max-width: 100%

// contact
.contact
  background: lighten(grey, 45%)

.container--contact-us
  display: grid
  grid-template-columns: 30% 60%
  grid-gap: 10%

.item--contact-us-form
  text-align: left

.contact-us-form
  display: grid
  grid-template-columns: repeat(4, [col] auto )
  grid-template-rows: repeat(3, [row] auto  )
  grid-gap: 5%

  input
    width: 100%

  textarea
    width: 100%

  .field--1
    grid-column: col / span 2
    grid-row: row

  .field--2
    grid-column: col 3 / span 2
    grid-row: row

  .field--3
    grid-column: col / span 2
    grid-row: row 2


  .field--4
    grid-column: col 3 / span 2
    grid-row: row 2

  .field--5
    grid-column: col  / span 4
    grid-row: row 3

  .field--6
    grid-column: col  / span 4
    grid-row: row 4
    text-align: right

  .field
    padding: 6px 0

// hackety hack
.button--contact-us-submission
  margin-right: -20px
  cursor: pointer
