---
---
body
  margin: 0
  font-family: 'Lato'

// general
.section
  padding: 2em 10em
  text-align: center

// banner
.banner
  background: url('/images/banner.jpg')
  background-size: cover
  background-position: bottom right
  background-repeat: no-repeat
  height: 100vh

.banner__text
  position: absolute
  bottom: 70vh
  right: 70vw
  background: rgba(0, 0, 0, 0.75)
  padding: 4px 8px
  color: white
  margin: 0

.banner__text.step2
  bottom: 60vh
  right: 60vw

.banner__text.step3
  bottom: 50vh
  right: 50vw

// mission

.mission


// journey
.journey
  background: pink

// partners
.partners
  background: grey

.container--partners
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))

.item--partner
  padding: 4em

.partner__logo
  max-width: 100%

// team
.team
  background: brown
  min-height: 800px

.container--team-members
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))

.item--team-member
  padding: 4em

.team-member__logo
  border-radius: 50%
  max-width: 100%

// contact
.contact
  background: yellow
  min-height: 800px
